<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://countingapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5ef1aa47-a497-4201-a677-b8b452621da3/resourceGroups/RGCognitiveSearch/providers/Microsoft.Web/sites/CountingApp</ResourceId>
    <UserName>$CountingApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://countingapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>